.section-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
    background-color:burlywood;
   
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 95%;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    background-color:#ffffff;

}
img{
    width: 150px;
    height: 150px;
    
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }